<a href="https://colab.research.google.com/github/DiwashPaudel/DiwashPaudel/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Answer No.1**

 i) Printing the first 5 rows and all of the columns for those rows

In [ ]:
import numpy as np
import pandas as pd

file_path = 'sample_data/datainput.csv'
data = pd.read_csv(file_path)
five_rows = data.head(5)
print(five_rows)

   id     emp_name   emp_salary   start_date      dept
0   1   Vishavjeet       999.30   2018-12-04        IT
1   2       Nimesh       878.40   2017-09-24        IT
2   3         Sara       611.00   2014-11-15        HR
3   4       Gulfam       729.00   2014-05-11        IT
4   5         Jack       845.25   2016-07-27   Finance

ii)  Printing the rows from
position 5 onwards and columns from position 2 onwards

In [ ]:
file_path = 'sample_data/datainput.csv'
data = pd.read_csv(file_path)

five_rows = data.iloc[5:, 2:]
print(five_rows)

    emp_salary   start_date         dept
5        878.0   2014-05-21    Marketing
6        632.8   2018-07-30   Operations
7        722.5   2017-06-17          SEO

iii) Printing the first two columns and all of the rows for
the column

In [ ]:
file_path = 'sample_data/datainput.csv'
data = pd.read_csv(file_path)

two_columns = data.iloc[:, :2]
print(two_columns)

   id     emp_name
0   1   Vishavjeet
1   2       Nimesh
2   3         Sara
3   4       Gulfam
4   5         Jack
5   6      Jessica
6   7       Saurav

 iv) Print from 6th row and all of the columns for that row

In [ ]:
file_path = 'sample_data/datainput.csv'
data = pd.read_csv(file_path)

sixth_row = data.iloc[5:6, :]
print(sixth_row)

   id  emp_name   emp_salary   start_date       dept
5   6   Jessica        878.0   2014-05-21   Marketing

**Answer No. 2**

i) Loading the data from the JSON file into a pandas DataFrame

In [ ]:
import pandas as pd
import json
import numpy as np

file_path = 'sample_data/employees.json' #storing json file in a file_path variable
df = pd.read_json(file_path) #reading json file using read_json
print(df)

                                           employees
0  {'name': 'John', 'age': 35, 'department': 'Eng...
1  {'name': 'Alice', 'age': 28, 'department': 'Ma...
2  {'name': 'Michael', 'age': 42, 'department': '...

ii) Displaying the DataFrame

In [ ]:

print(df) #printing dataframe store in df variable print function used to display

                                           employees
0  {'name': 'John', 'age': 35, 'department': 'Eng...
1  {'name': 'Alice', 'age': 28, 'department': 'Ma...
2  {'name': 'Michael', 'age': 42, 'department': '...

iii) Convert the DataFrame to a JSON string

In [ ]:
#Converting the DataFrame to a JSON string with each row represented as a dictionary (record format)
jsonstring = df.to_json(orient='records')
print(jsonstring) #printing the resulting JSON string

[{"employees":{"name":"John","age":35,"department":"Engineering"}},{"employees":{"name":"Alice","age":28,"department":"Marketing"}},{"employees":{"name":"Michael","age":42,"department":"Finance"}}]

iv) Converting the DataFrame to a JSON string with records orientation

In [ ]:
#Converting the DataFrame to a JSON string with each row represented as a dictionary (record format)
jsonStringdf = df.to_json(orient='records')
print(jsonStringdf)#printing the resulting JSON string

[{"employees":{"name":"John","age":35,"department":"Engineering"}},{"employees":{"name":"Alice","age":28,"department":"Marketing"}},{"employees":{"name":"Michael","age":42,"department":"Finance"}}]

v) Export the DataFrame to a new JSON file named employees_output.json

In [ ]:
#exporting the DataFrame to a new JSON file named employees_output.json in sample_data folder
df.to_json('sample_data/employees_output.json', orient='records')

**Answer No. 3**

In [ ]:
import numpy as np
import pandas as pd

student_data = pd.DataFrame({
    'Student ID' : range(1, 16),
    'Exam Score' : [85,70,np.nan, 90,75,85,65,92,78,83,np.nan,80,85,95,72]
})

i) Handling Missing Data:
Identify and handle missing values in the 'Exam Score' column by replacing them with .the mean score of the available scoresreplace it with the nearest available score above 70.

In [ ]:
# Calculating  the mean of available scores
mean_score = student_data['Exam Score'].mean()
# Replace NaN values with the mean score
student_data['Exam Score'].fillna(mean_score, inplace=True)
# Loop through each row in the dataset where the 'Exam Score' is missing (NaN)
for index, row in student_data[student_data['Exam Score'].isnull()].iterrows():
    # Getting  all the 'Exam Scores' that are above 70
    scores_above_70 = student_data.loc[student_data['Exam Score'] > 70, 'Exam Score']
    # Check if there are any scores above 70 available
    if not scores_above_70.empty:
        # Find the score from the list of scores above 70 that is closest to the average score
        closest_score = min(scores_above_70, key=lambda x: abs(x - mean_score))
        # Update the missing 'Exam Score' with this closest score
        student_data.loc[index, 'Exam Score'] = closest_score

# Print the updated student data after filling in the missing scores
print(student_data)

    Student ID  Exam Score
0            1   85.000000
1            2   70.000000
2            3   81.153846
3            4   90.000000
4            5   75.000000
5            6   85.000000
6            7   65.000000
7            8   92.000000
8            9   78.000000
9           10   83.000000
10          11   81.153846
11          12   80.000000
12          13   85.000000
13          14   95.000000
14          15   72.000000

ii) Removing Duplicates and Replacing Values:
Check for any duplicate entries in the dataset and remove them. Additionally, if any score is below 70,

In [ ]:
 # Remove duplicate rows based on all columns using drop_duplicate inbuilt function
student_data.drop_duplicates(inplace=True)
# Replace scores below 70 with 70
student_data.loc[student_data['Exam Score'] < 70, 'Exam Score'] = 70
# Print the updated student data after removing duplicates and replacing scores
print(student_data)

    Student ID  Exam Score Score Category
0            1   85.000000         Medium
1            2   70.000000            Low
2            3   81.153846         Medium
3            4   90.000000           High
4            5   75.000000            Low
5            6   85.000000         Medium
6            7   70.000000            Low
7            8   92.000000           High
8            9   78.000000         Medium
9           10   83.000000         Medium
10          11   81.153846         Medium
11          12   80.000000         Medium
12          13   85.000000         Medium
13          14   95.000000           High
14          15   72.000000            Low

iii) Binning and Sampling:
Divide the dataset into three bins based on the exam scores: 'Low' (scores <= 75), 'Medium' (75 <
scores <= 85), and 'High' (scores > 85). After binning, randomly select two samples from each bin for
further analysis.

In [ ]:
# Creating  bins and labels
bins = [0, 75, 85, float('inf')]
labels = ['Low', 'Medium', 'High']
# Adding a new column in 'Score Category' based on the bins
student_data['Score Category'] = pd.cut(student_data['Exam Score'], bins=bins, labels=labels)
# Creating an empty DataFrame to store the samples
sampled_data = pd.DataFrame()
# using lopp ti Iterate through each bin category
for category in ['Low', 'Medium', 'High']:
  # Getting the data for the current category
  category_data = student_data[student_data['Score Category'] == category]
# Sample two rows randomly from the category data
  sample = category_data.sample(n=2, random_state=1)  # Use random_state for reproducibility
# Append the sampled rows to the sampled_data DataFrame
  sampled_data = pd.concat([sampled_data, sample])
# Print the sampled data
print(sampled_data)

    Student ID  Exam Score Score Category
14          15        72.0            Low
6            7        70.0            Low
12          13        85.0         Medium
5            6        85.0         Medium
3            4        90.0           High
13          14        95.0           High